# SQL

## Ссылки

https://dbfiddle.uk/ -- одна из онлайн сред, в которой можно работать

https://www.mysqltutorial.org/install-mysql/ -- тутор по установке MySQL сервера и клиента на вашей машине

https://www.mysqltutorial.org/mysql-basics/ -- хороший разбор базовых операций с SQL

Возможные среды для локальной работы с MySQL:
- [MySQL WorkBench](https://www.mysql.com/products/workbench/)
- [DBeaver](https://dbeaver.io/)
- [DataGrip](https://www.jetbrains.com/ru-ru/datagrip/)
- Плагин для VSCode


Некоторые ссылки, которые помогут разобраться:
- https://www.geeksforgeeks.org/python-mysql/
- https://dev.mysql.com/doc/connector-python/en/connector-python-introduction.html
- https://learn.microsoft.com/en-us/sql/connect/python/pyodbc/python-sql-driver-pyodbc?view=sql-server-ver16
- https://youtu.be/eDXX5evRgQw

##

### Создадим базу и таблицу в ней

Создадим свою базу данных, добавим туда таблицу и наполним ее данными

```sql
show databases;  -- смотрим на все доступные базы данных

create database hse_knad; -- создаем свою бд

```

```sql

use hse_knad;  # используем нашу базу данных

create table participants (
    student_id int(10) not null primary key, -- можно дописать auto_increment, тогда индекс будет увеличиваться автоматически
    name varchar(30) not null,
    age int
);


insert into participants(student_id, name, age)  -- добавляем один ряд в таблицу
    values (1, 'Alice', 42);
    values (2, 'Bob', 24);
    values (3, 'Carol', 33);
    
```

![](img/sql_example_2.png)

```sql
select * from participants;

drop table (if exists) participants;  -- удаляем таблицу. Если таблицы уже не существует и не стоит условия if exists, будет ошибка
```

![](img/sql_example_3.png)

### Sakila

Поработаем с датасетом [Sakila](https://dev.mysql.com/doc/sakila/en/sakila-structure-tables.html), описывающим данные сервиса проката фильмов

*В dffiddle.uk выбрать MySQL, и в верхнем селекторе вместо "No sample DB" выбрать "Sakila"*

Template почти любого запроса Select:

```sql
SELECT col1, SUM(col2) as col2sum, AVG(col3) as col3avg 
FROM table_name 
WHERE col4 = 'some_value' 
GROUP BY col1
(HAVING ...)
ORDER BY col2sum DESC
LIMIT 10;
```

1. Посмотрим, какие у нас есть таблицы

```sql
use sakila;
show tables;
```

2. Какие актеры у нас есть в базе. Применим к ним условие.


3. Сколько различных имен у актеров?

4. Сколько каждого имени?

5. Какая средняя, минимальная и максимальные длины у фильмов в зависимости от их рейтинга и года выхода? Сохраним агрегат в таблицу

6. Отфильтруем данные выше по некоторому условию на среднюю длину фильма.

```sql

select * from ratings_length
where avg_len < 115;

-- ИЛИ без создания новой таблицы. Используем вложенный select

select rating
, release_year
, avg_len
, min_len
, max_len
from (
    select rating
    , release_year
    , avg(length) as avg_len
    , min(length) as min_len
    , max(length) as max_len
    from film
    group by rating, release_year
) as temp
where temp.avg_len < 115;
```

7. Посмотрим на страны и города в нашей базе. Добавим колонку с названием страны к таблице с городами.

Почитайте для понимания разных видов join:

- https://www.w3schools.com/mysql/mysql_join.asp 

- https://www.mysqltutorial.org/mysql-join/

![](http://www.securesolutions.no/wp-content/uploads/2014/07/joins-1.jpg)

8. Посмотрим на то, каким количеством городов представлены разные страны.

9. Сделаем версию запроса выше с фильтрацией данных, где городов меньше 7. Сделаем двумя способами, с помощью [Having](https://www.mysqltutorial.org/mysql-having.aspx) и вложенного запроса

Что еще можно посмотреть в базе для практики:

- Сколько денег потратили пользователи на аренду фильмов всего? В разрезе по месяцам?
- Из каких стран у нас больше вего покупателей?
- Жители каких городов в среднем тратили больше всего денег?

И еще несколько примеров запросов с решениями ([source](https://datamastery.gitlab.io/exercises/sakila-queries.html)):
    
```sql
--  Which actors have the first name 'Scarlett'

-- YOUR QUERY HERE

--  Which actors have the last name 'Johansson'

-- YOUR QUERY HERE

--  How many distinct actors last names are there?

-- YOUR QUERY HERE

--  Which last names are not repeated?

-- YOUR QUERY HERE

--  Which last names appear more than once?

-- YOUR QUERY HERE

--  Which actor has appeared in the most films?

-- YOUR QUERY HERE

--  What is that average length of all the films in the sakila DB?

-- YOUR QUERY HERE

--  What is the average length of films by category?

-- YOUR QUERY HERE

-- Which film categories are long?

-- YOUR QUERY HERE

--  Why does this query return the empty set?

-- YOUR QUERY HERE
```